/* Resetoidaan kaikki sivuston elementit */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Asetetaan perusfontti ja taustaväri */
body {
    font-family: Arial, sans-serif;
    background-color: #f4c2c2;
}

/* Keskitetään otsikko */
h1 {
    text-align: center;
    color: #333;
}

/* Tapahtumakalenterin tyyli */
#tapahtumakalenteri {
    margin: 20px auto;
    width: 80%;
}

/* Tapahtuma-elementin tyyli */
.tapahtuma {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

/* Ilmoittaudu-napin tyyli */
.ilmoittaudu-button {
    background-color: #8b4513;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
#content-container { /*keskitys*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#tapahtumakalenteri-container { /*keskitys*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}
.ilmoittautumis-lomake {
    margin: 0 auto; /* Lisätään keskitys */
    width: 50%; /* leveyden säätö */
}
#kartta {/*keskitys*/
    width: 100%;
    flex-direction: column;
    align-items: center;
    
    
}
/* Tyyli hinnaston otsikolle */
#juomamenu h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Tyyli hinnastotaulukolle */
#juomamenu table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

/* Tyyli taulukon soluille */
#juomamenu th, #juomamenu td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/* Tyyli ensimmäiselle sarakkeelle */
#juomamenu th {
    background-color: #f2f2f2;
}
/* Tyyli hinnaston otsikolle */
#ruokamenu h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Tyyli hinnastotaulukolle */
#ruokamenu table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

/* Tyyli taulukon soluille */
#ruokamenu th, #ruokamenu td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/* Tyyli ensimmäiselle sarakkeelle */
#ruokamenu th {
    background-color: #f2f2f2;
}
/* Tyyli ensimmäiselle pääotsikolle */
#paaotsikko {
    font: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#333
}